*{ margin: 0; padding: 0; box-sizing: border-box;}
html{font-size: 16px;}

#load{
width: 100%;
height: 100vh;
background: #fff url('../images/805.gif');
background-repeat: no-repeat;
background-position: center;
z-index: 10000;
}

.head{
    width: 100%;
    height: 100vh!important;
    position: relative;
} 

.nav_titile{
    color: #ffffff!important;
    margin-left: 3rem;
    margin-top: 0.5rem;
}

.nav_sec{
    color: #ffffff;
    font-size: 1.2rem;
    margin-right: 2rem;
    margin-top: 0.5rem;
}

.navbar-nav li a{
    color: #ffffff!important;
}

.navbar-toggler{
    
    border: none!important;
    outline: none!important;
    margin-right: 1.5rem;
    margin-top: 0.5rem;
    
}

nav .fa-bars{
    color: white!important;
    font-size: 1.5rem;
       
}

.hero_carousel{
    position: absolute!important;
    top: 0;
    width: 100%;
}


.carousel_con{
    position: absolute;
    top: 30%;
    left: 10%;
}
.carousel_con p{
    font-size: 1.3rem;
    color: blue!important;
    text-transform: uppercase;
}
.carousel_con p:nth-last-child(1){
    font-size: 1.1rem;
     text-transform: lowercase;
}
.carousel_con h2{
    margin-top: -1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: blue;
}
.carousel_con button{
    padding-top: 0.7rem!important;
}

.show_main{
    width: 100%;
    height: 100vh;
    background-color: #001034;
    position: absolute;
    top: 0;
}

#btn_can{
    color: #ffffff;
    font-size: 1.7rem;
    font-weight: lighter;
    margin-right: 3rem;
    cursor: pointer;
}
.navbar_link{
    margin-top: 2rem; 
    margin-left: 4.5rem;  
}

.navbar_link li a{
    font-size: 1.1rem;
}

.navbar_link li:hover{
    background-color: #00183B;
}

.navbar_link li a i{
    margin-left: auto!important;
}

.navbar_link .nav_item_clr a{
    color: #00B394!important;
}

.link_one{
    margin-left: 30rem;
}
.link_sec{
     margin-left: 27rem;
}
.link_thr{
    margin-left: 34.7rem;
}
.globe a{
    color: #ffffff;
    font-size: 1.3rem;
    margin-left: 0.5rem;
}
.globe a:hover{
    color: #00B394;
}

/*-------------- MEDIA QUERY------------ */

@media screen and (max-width: 1200px) {
    .link_one{
        margin-left: 23rem;
    }
    .link_sec{
         margin-left: 20rem;
    }
    .link_thr{
        margin-left: 27.5rem;
    }
}


@media screen and (min-width: 769px) {
    .link_one{
        margin-left: 16rem;
    }
    .link_sec{
         margin-left: 13rem;
    }
    .link_thr{
        margin-left: 20.6rem;
    }
}

@media only screen and (max-width: 1024px) {
    html{font-size: 14px;}}

@media only screen and (max-width: 768px) {
    html{font-size: 12px;}}

@media only screen and (max-width: 588px) {
    html{ font-size: 9px;}
      
    .carousel_con{
        top: 40%;
    }
}
@media only screen and (max-width: 440px) {
    html{font-size: 6px;}}




